<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>International</title>
</head>
<body>
<h1 th:text="#{greeting}"></h1>

<p id="greeting" th:text="'Hello, ' + ${name} + '!'"></p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="/src/internationalization/internationalization.js"></script>
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const name = urlParams.get("name");
    $("#greeting").text("hello " + name);
</script>
</body>
</html>