<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online shop</title>
    <link rel="stylesheet" href="/src/table.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<h5>User id: <a id="current_user_id"></a></h5>
<input type="hidden" id="hdnSession" data-value="@Request.RequestContext.HttpContext.Session['someKey']" />
<a id="logo"></a>

<div>
    <table id="orders_table">
        <thead>
        <tr>
            <th>Order №</th>
            <th>Status</th>
            <th>Date</th>
            <th>Address</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <a id="current_orders_page"></a>
    <input type="submit" id="previous_orders_page" value="previous">
    <input type="submit" id="next_orders_page" value="next">
</div>

<br>

<div id="order_view" style="display: none;">
    <h5>Order id: <a id="current_order_id">1</a></h5>
    <table id="order_info">
        <thead>
        <tr>
            <th colspan="3">Order info</th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Address</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <br>
    <table id="order_products">
        <thead>
        <tr>
            <th colspan="3">products</th>
        </tr>
        <tr>
            <th>Product</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <button id="edit_current_order">
        Edit
    </button>
    <button class="order_delete" value="">
        Delete
    </button>
</div>
<br>
<div>
    <h3>Create new order</h3>
    <table id="products_table">
        <thead>
        <tr>
            <th>Product</th>
            <th>Amount</th>
            <th>Add to order</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


    <a id="current_products_page"></a>
    <input type="submit" id="previous_product_page" value="previous">
    <input type="submit" id="next_product_page" value="next">
    <br>
    <br>

    <input type="text" id="user_address" placeholder="Enter your address here">
    <br>
    <button id="create_button">Create order</button>
</div>

<p></p>
<p></p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
<script type="text/javascript" src="/src/get_user_id.js"></script>
<script type="text/javascript" src="/src/function_delete.js"></script>
<script type="text/javascript" src="/src/info_about_order.js"></script>
<script type="text/javascript" src="/src/products_table.js"></script>
<script type="text/javascript" src="/src/orders_table.js"></script>
</body>

</html>