<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <title tiles:fragment="title" th:text="#{label.online_shop}"></title>
</head>
<body>
<h5 th:text="#{message.user_id} " style="display: none"><a id="current_user_id"></a></h5>

<div class="container">
    <h2 th:text="#{label.order_table}"/>
    <br>
    <table id="orders_table" class="table table-striped">
        <thead>
        <tr>
            <th th:text="#{label.order_num}"></th>
            <th th:text="#{label.status}"></th>
            <th th:text="#{label.date}"></th>
            <th th:text="#{label.address}"></th>
            <th th:text="#{label.view}"></th>
            <th th:text="#{label.edit}"></th>
            <th th:text="#{label.delete}"></th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <div style="float: right">
        <a id="current_orders_page"></a>
        <input type="submit" id="previous_orders_page" th:value="#{label.previous}">
        <input type="submit" id="next_orders_page" th:value="#{label.next}">
    </div>
    <br>
</div>

<br>

<div id="order_view" style="display: none;" class="container">
    <h2 th:text="#{label.order_info}"/>
    <br>
    <h5 id="current_order_id" style="display: none;">
        <a th:text="#{message.order_id} "/>
        <a id="current_edit_order_id">1</a></h5>
    <table id="order_info" class="table table-striped">
        <thead>
        <tr>
            <th colspan="3" th:text="#{label.order_info}"></th>
        </tr>
        <tr>
            <th th:text="#{label.date}"></th>
            <th th:text="#{label.address}"></th>
            <th th:text="#{label.status}"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <br>
    <table id="order_products" class="table table-striped">
        <thead>
        <tr>
            <th colspan="3" th:text="#{label.products}"/>
        </tr>
        <tr>
            <th th:text="#{label.product}"/>
            <th th:text="#{label.amount}"/>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div style="float: right">
        <button class="order_edit" th:text="#{label.edit}"/>
        <button class="order_delete" th:text="#{label.delete}"/>
    </div>
</div>

<br>

<div id="order_edit_view" style="display: none;" class="container">
    <h2 th:text="#{label.edit_order}"/>
    <br>
    <table id="edit_order_info" class="table table-striped">
        <thead>
        <tr>
            <th colspan="3" th:text="#{label.order_info}"/>
        </tr>
        <tr>
            <th th:text="#{label.date}"/>
            <th th:text="#{label.address}"/>
            <th th:text="#{label.status}"/>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td><input type="text" id="current_user_address"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <br>
    <table id="edit_order_products" class="table table-striped">
        <thead>
        <tr>
            <th colspan="2" th:text="#{label.products}"/>
        </tr>
        <tr>
            <th th:text="#{label.product}"/>
            <th th:text="#{label.edit}"/>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div style="float: right">
        <button id="update_current_order" th:text="#{label.edit}"/>
        <button class="order_delete" value="" th:text="#{label.delete}"/>
        <br>
        <br>
    </div>
</div>

<div class="container">
    <h2 th:text="#{message.create_order}"/>
    <br>
    <table id="products_table" class="table table-striped">
        <thead>
        <tr>
            <th th:text="#{label.product}"/>
            <th th:text="#{table.label.brand}"/>
            <th th:text="#{table.label.category}"/>
            <th th:text="#{table.label.price}"/>
            <th th:text="#{label.amount}"/>
            <th th:text="#{label.add_to_order}"/>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div style="float: right">
        <a id="current_products_page"></a>
        <input type="submit" id="previous_product_page" th:value="#{label.previous}">
        <input type="submit" id="next_product_page" th:value="#{label.next}">
        <br>
        <br>
    </div>

    <input type="text" id="user_address" th:placeholder="#{placeholder.enter_address}">
    <br>
    <button id="create_button" th:text="#{label.create_order}"/>
</div>
<div class="container">
    <br>
    <br>
    <div style="float: right">
        <a href="/admin_page" th:text="#{label.admin_page}"/>

        <form th:action="@{/logout}" method="post">
            <input type="submit" th:value="#{label.log_out}">
        </form>
    </div>
</div>

<script type="text/javascript" src="/src/function_update.js"></script>
<script type="text/javascript" src="/src/function_post_locale.js"></script>
<script type="text/javascript" src="/src/function_create.js"></script>
<script type="text/javascript" src="/src/info_about_edit_order.js"></script>
<script type="text/javascript" src="/src/get_user_id.js"></script>
<script type="text/javascript" src="/src/function_delete.js"></script>
<script type="text/javascript" src="/src/info_about_order.js"></script>
<script type="text/javascript" src="/src/products_table.js"></script>
<script type="text/javascript" src="/src/orders_table.js"></script>
</body>
</html>