<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title tiles:fragment="title" th:text="#{registration.head}"></title>
</head>
<body>

<div id="registration_form">
    <input id="new_user_email" th:placeholder="#{input.email}"><br>
    <input type="password" id="new_user_password" th:placeholder="#{registration.input.password}"><br>
    <input type="password" id="new_user_validation_password" th:placeholder="#{registration.input.repeat_password}">
    <br>

    <a id="message_uncorrected_email" style="display: none; color: red;"
       th:text="#{registration.uncorrected.email}"></a>
    <a id="message_uncorrected_password" style="display: none; color: red;"
       th:text="#{registration.uncorrected.password}"></a>
    <a id="message_passwords_not_match" style="display: none; color: red;"
       th:text="#{registration.password.not_match}"></a>
    <a id="message_registration_error" style="display: none; color: red;"></a><br>
    <button id="registration_button" th:text="#{registration.registration_button}">register</button>
</div>
<div id="confirm_form" style="display: none;">
    <h3 th:text="#{message.sent_email}"></h3>
    <h4 th:text="#{message.enter_code}">Enter code from received email here</h4>
    <input type="number" id="received_password" th:placeholder="#{input.code}"
           maxlength="6" minlength="6"><br>
    <a id="message_uncorrected_token" style="display: none; color: red;"
       th:text="#{message.uncorrected_token}"><br></a>
    <a id="message_token_not_match" style="display: none; color: red;"
       th:text="#{message.does_not_match}"><br></a>
    <button id="confirm_button" th:text="#{button.confirm_registration}"></button>
</div>
<div id="registration_completed_message" style="display: none;">
    <h3 th:text="#{message.registration_successfully}"></h3>
    <a href="/online_shop" th:text="#{personal.account}"></a>
</div>


<script src="/src/js/registration/listen_confirm_button.js"></script>
<script src="/src/js/registration/registration.js"></script>
<script src="/src/js/registration/hide_all_registration_error.js"></script>
<script src="/src/js/registration/listen_registration_button.js"></script>
<script src="/src/js/registration/validation_email.js"></script>
<script src="/src/js/registration/validation_password.js"></script>
</body>
</html>