<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
    Hello, <a th:text="${name}"></a>!
</p>
<p>Confirm registration on the Online Store website.</p>
<p>This is your personal code to complete registration "<b th:text="${code}"></b>"</p>
    <br>
<p> If you have not registered, please ignore this email.</p>

<p>From mail "<b th:text="${mail}"></b>"</p>

</body>
</html>