<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Hello user</title>
</head>
<body>
<h3>Hello <h3>split</h3></h3>
<p>confirm registration on the Online Store website.</p>
<p>To do this, follow the link and enter this code "<b>split</b>"</p>
    <a href="http://localhost:8080/confirm_registration">Complete registration</a>
<p> If you have not registered, please ignore this email.</p>
</body>
</html>